<h1>LOG - IN</h1>
<h4>
    <p class="fas fa-book">
        
    </p>
    Hinter
</h4>
<div class="section">
    <p class="lead">
        Create public and private notes for your life
    </p>
</div>

<a href="/auth/google" class="btn darken-1">
    <i class="fab fa-google"></i>
    <span class="lead">.  Log in with Google</span>
</a>